main article, header .hidden ul, header .title, header {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  color: rgb(225, 225, 225);
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(30, 30, 30);
  color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: transparent;
}
header .title {
  justify-content: center;
  width: 100vw;
  height: 95vh;
  text-align: center;
  transition: all 0.5s ease;
}
header .title .transition {
  text-align: center;
  font-size: 16rem;
  line-height: 12rem;
  letter-spacing: -2.5rem;
  position: relative;
  transition: all 0.5s ease;
}
header .title .transition .letters {
  opacity: 1;
  transition: all 0.5s ease;
}
header .title .transition .flipped {
  display: inline-block;
  transition: all 0.5s ease;
  position: relative;
}
header .hidden {
  display: none;
  padding: 2rem 0;
}
header .hidden ul {
  list-style: none;
  justify-content: space-between;
}
header .hidden ul li {
  margin: 0 25px;
}

#displayMenu, #smoke {
  display: none;
}

#instruction {
  margin-top: -91px;
}

.toAllowScroll {
  display: block;
  height: 300vh;
  width: 100vw;
}

main {
  display: none;
  align-items: center;
  flex-direction: column;
  margin-top: 75vh;
}
main article {
  justify-content: space-evenly;
  width: 95%;
  margin: 3rem 0;
}
main article .text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 40%;
}
main article .text h2 {
  margin-bottom: 2rem;
}
main article .text p {
  line-height: 1.75rem;
}
main article .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  overflow: hidden;
}
main article .image img {
  width: 80%;
}
main article .image ul {
  width: 100%;
}
main article .image ul li {
  width: 100%;
  margin: 2rem 0;
}
main article .image ul li .projectName {
  cursor: pointer;
}
main article .image ul li div {
  display: none;
  width: 100%;
  margin-top: 1rem;
}
main article .image ul li div iframe {
  width: 100%;
  height: 60vh;
}
main article .grid {
  display: grid;
  width: 40%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  place-items: center; /* Center both horizontally and vertically */
  row-gap: 3em;
}
main article .grid * {
  font-size: 4rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5vw;
  margin-bottom: 5vh;
}
footer div {
  padding: 0 5vw;
}
footer div h3 {
  font-size: 1.25rem;
}
footer div ul {
  list-style: none;
}

@media only screen and (max-width: 436px) {
  header {
    height: 10vh;
    justify-content: space-around;
  }
  header .hidden {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
  header .hidden #toggle {
    font-size: 2rem;
  }
  .toAllowScroll {
    display: none;
  }
  #displayMenu {
    transition: all 0.5 ease;
    position: fixed;
    flex-direction: column;
    z-index: 3;
    right: 0;
    top: 0;
    width: 30vw;
    height: 150vh;
    background-color: rgb(30, 30, 30);
    padding: 1rem;
    display: none;
  }
  #displayMenu i {
    position: relative;
    top: 3vh;
    right: 5vw;
    text-align: right;
    font-size: 2rem;
  }
  #displayMenu ul {
    position: relative;
    list-style: none;
    margin-top: 6vh;
  }
  #displayMenu ul li {
    margin-top: 1.5rem;
  }
  #smoke {
    transition: all 0.5 ease;
    position: fixed;
    width: 200vw;
    height: 200vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    display: none;
  }
  main {
    margin-top: 10vh;
    width: 95%;
  }
  main article {
    margin: 5vh;
    flex-direction: column;
  }
  main article .text {
    width: 100%;
  }
  main article .text h2 {
    margin-bottom: 2rem;
  }
  main article .text p {
    line-height: 1.75rem;
  }
  main article .image {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main article .image img {
    width: 100%;
    margin-top: 1rem;
  }
  main article .image ul {
    width: 100%;
  }
  main article .image ul li {
    width: 100%;
  }
  main article .image ul li div {
    display: none;
    width: 100%;
    margin-top: 1rem;
  }
  main article .image ul li div iframe {
    height: 50vh;
  }
  main #skills {
    flex-direction: column-reverse;
  }
  main #skills #gridOfSkills {
    margin-top: 3rem;
    width: 100%;
  }
  main #skills #gridOfSkills > * {
    font-size: 2rem;
  }
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  footer #location {
    display: none;
  }
}