main article, main, header .hidden ul, header .title, header {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  color: rgb(225, 225, 225);
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(30, 30, 30);
  color: rgb(225, 225, 225);
}

header .title {
  justify-content: center;
  width: 100vw;
  height: 95vh;
  text-align: center;
  transition: all 0.5s ease;
}
header .title .transition {
  text-align: center;
  font-size: 16rem;
  line-height: 12rem;
  letter-spacing: -2.5rem;
  position: relative;
  transition: all 0.5s ease;
}
header .title .transition .letters {
  opacity: 1;
  transition: all 0.5s ease;
}
header .title .transition .flipped {
  display: inline-block;
  transition: all 0.5s ease;
  position: relative;
}
header .hidden {
  display: none;
  padding: 2rem 0;
}
header .hidden ul {
  list-style: none;
  justify-content: space-between;
  margin-right: 50px;
}
header .hidden ul li {
  margin: 0 25px;
}

main {
  flex-direction: column;
}
main article {
  margin-top: 91px;
  justify-content: space-evenly;
}
main article .text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 40%;
}
main article .text h2 {
  margin-bottom: 2rem;
}
main article .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  overflow: hidden;
}
main article .image img {
  width: 80%;
}